/* Styling for the body of the image */
body {
  background: #111;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the canvas */
.canvas {
  position: absolute;
  width: 220px;
  height: 220px;
}

/* Styling for each pixel on the canvas */
.pixel {
  width: 10px;
  height: 10px;
  float: left;
  box-shadow: 0px 0px 1px #555;
}
/*pixels count from top to bottom, left to right


/* Styling for the head outline */
.pixel:nth-child(158),
.pixel:nth-child(173),
.pixel:nth-child(136),
.pixel:nth-child(151),
.pixel:nth-child(115),
.pixel:nth-child(128),
.pixel:nth-child(94),
.pixel:nth-child(105),
.pixel:nth-child(73),
.pixel:nth-child(74),
.pixel:nth-child(81),
.pixel:nth-child(82),
.pixel:nth-child(53),
.pixel:nth-child(54),
.pixel:nth-child(55),
.pixel:nth-child(56),
.pixel:nth-child(57),
.pixel:nth-child(58),
.pixel:nth-child(179),
.pixel:nth-child(201),
.pixel:nth-child(223),
.pixel:nth-child(245),
.pixel:nth-child(267),
.pixel:nth-child(289),
.pixel:nth-child(196),
.pixel:nth-child(218),
.pixel:nth-child(240),
.pixel:nth-child(262),
.pixel:nth-child(284),
.pixel:nth-child(306),
.pixel:nth-child(312),
.pixel:nth-child(334),
.pixel:nth-child(357),
.pixel:nth-child(380),
.pixel:nth-child(403),
.pixel:nth-child(404),
.pixel:nth-child(427),
.pixel:nth-child(428),
.pixel:nth-child(429),
.pixel:nth-child(430),
.pixel:nth-child(431),
.pixel:nth-child(432),
.pixel:nth-child(411),
.pixel:nth-child(412),
.pixel:nth-child(391),
.pixel:nth-child(370),
.pixel:nth-child(349),
.pixel:nth-child(327){
  background: #CC8400;
}

/* Styling for the color of the emoji */
.pixel:nth-child(407),
.pixel:nth-child(408),
.pixel:nth-child(381),
.pixel:nth-child(382),
.pixel:nth-child(383),
.pixel:nth-child(384),
.pixel:nth-child(387),
.pixel:nth-child(388),
.pixel:nth-child(389),
.pixel:nth-child(390),
.pixel:nth-child(358),
.pixel:nth-child(359),
.pixel:nth-child(361),
.pixel:nth-child(366),
.pixel:nth-child(368),
.pixel:nth-child(369),
.pixel:nth-child(335),
.pixel:nth-child(336),
.pixel:nth-child(338),
.pixel:nth-child(339),
.pixel:nth-child(344),
.pixel:nth-child(345),
.pixel:nth-child(347),
.pixel:nth-child(348),
.pixel:nth-child(315),
.pixel:nth-child(316),
.pixel:nth-child(317),
.pixel:nth-child(322),
.pixel:nth-child(323),
.pixel:nth-child(324),
.pixel:nth-child(290),
.pixel:nth-child(291),
.pixel:nth-child(292),
.pixel:nth-child(293),
.pixel:nth-child(294),
.pixel:nth-child(295),
.pixel:nth-child(300),
.pixel:nth-child(301),
.pixel:nth-child(302),
.pixel:nth-child(303),
.pixel:nth-child(304),
.pixel:nth-child(305),
.pixel:nth-child(268),
.pixel:nth-child(269),
.pixel:nth-child(272),
.pixel:nth-child(273),
.pixel:nth-child(274),
.pixel:nth-child(277),
.pixel:nth-child(278),
.pixel:nth-child(279),
.pixel:nth-child(282),
.pixel:nth-child(283),
.pixel:nth-child(246),
.pixel:nth-child(251),
.pixel:nth-child(252),
.pixel:nth-child(253),
.pixel:nth-child(254),
.pixel:nth-child(255),
.pixel:nth-child(256),
.pixel:nth-child(261),
.pixel:nth-child(224),
.pixel:nth-child(230),
.pixel:nth-child(231),
.pixel:nth-child(232),
.pixel:nth-child(233),
.pixel:nth-child(239),
.pixel:nth-child(202),
.pixel:nth-child(209),
.pixel:nth-child(210),
.pixel:nth-child(217),
.pixel:nth-child(187),
.pixel:nth-child(188),
.pixel:nth-child(180),
.pixel:nth-child(181),
.pixel:nth-child(159),
.pixel:nth-child(160),
.pixel:nth-child(171),
.pixel:nth-child(172),
.pixel:nth-child(194),
.pixel:nth-child(195),
.pixel:nth-child(164),
.pixel:nth-child(165),
.pixel:nth-child(166),
.pixel:nth-child(167),
.pixel:nth-child(137),
.pixel:nth-child(138),
.pixel:nth-child(139),
.pixel:nth-child(140),
.pixel:nth-child(141),
.pixel:nth-child(142),
.pixel:nth-child(143),
.pixel:nth-child(144),
.pixel:nth-child(145),
.pixel:nth-child(146),
.pixel:nth-child(147),
.pixel:nth-child(148),
.pixel:nth-child(149),
.pixel:nth-child(150),
.pixel:nth-child(116),
.pixel:nth-child(117),
.pixel:nth-child(118),
.pixel:nth-child(119),
.pixel:nth-child(120),
.pixel:nth-child(121),
.pixel:nth-child(122),
.pixel:nth-child(123),
.pixel:nth-child(124),
.pixel:nth-child(125),
.pixel:nth-child(126),
.pixel:nth-child(127),
.pixel:nth-child(95),
.pixel:nth-child(96),
.pixel:nth-child(97),
.pixel:nth-child(98),
.pixel:nth-child(99),
.pixel:nth-child(100),
.pixel:nth-child(101),
.pixel:nth-child(102),
.pixel:nth-child(103),
.pixel:nth-child(104),
.pixel:nth-child(75),
.pixel:nth-child(76),
.pixel:nth-child(77),
.pixel:nth-child(78),
.pixel:nth-child(79),
.pixel:nth-child(80),
.pixel:nth-child(313),
.pixel:nth-child(314),
.pixel:nth-child(337),
.pixel:nth-child(360),
.pixel:nth-child(367),
.pixel:nth-child(346),
.pixel:nth-child(325),
.pixel:nth-child(326),
.pixel:nth-child(405),
.pixel:nth-child(406),
.pixel:nth-child(409),
.pixel:nth-child(410),
.pixel:nth-child(258),
.pixel:nth-child(259),
.pixel:nth-child(235),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(212),
.pixel:nth-child(213),
.pixel:nth-child(214),
.pixel:nth-child(215),
.pixel:nth-child(190),
.pixel:nth-child(191),
.pixel:nth-child(192),
.pixel:nth-child(248),
.pixel:nth-child(249),
.pixel:nth-child(226),
.pixel:nth-child(227),
.pixel:nth-child(228),
.pixel:nth-child(204),
.pixel:nth-child(205),
.pixel:nth-child(206),
.pixel:nth-child(207),
.pixel:nth-child(183),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(385),
.pixel:nth-child(386),
.pixel:nth-child(362),
.pixel:nth-child(365),
.pixel:nth-child(340),
.pixel:nth-child(343),
.pixel:nth-child(318),
.pixel:nth-child(321),
.pixel:nth-child(296),
.pixel:nth-child(299),
.pixel:nth-child(275),
.pixel:nth-child(276),
.pixel:nth-child(280),
.pixel:nth-child(281),
.pixel:nth-child(257),
.pixel:nth-child(260),
.pixel:nth-child(234),
.pixel:nth-child(238),
.pixel:nth-child(211),
.pixel:nth-child(216),
.pixel:nth-child(189),
.pixel:nth-child(193),
.pixel:nth-child(168),
.pixel:nth-child(169),
.pixel:nth-child(170),
.pixel:nth-child(271),
.pixel:nth-child(270),
.pixel:nth-child(247),
.pixel:nth-child(250),
.pixel:nth-child(225),
.pixel:nth-child(229),
.pixel:nth-child(203),
.pixel:nth-child(208),
.pixel:nth-child(182),
.pixel:nth-child(186),
.pixel:nth-child(161),
.pixel:nth-child(162),
.pixel:nth-child(163),
.pixel:nth-child(363),
.pixel:nth-child(364),
.pixel:nth-child(341),
.pixel:nth-child(342),
.pixel:nth-child(319),
.pixel:nth-child(320),
.pixel:nth-child(297),
.pixel:nth-child(298){
  background: #ffcc33;
}

/* Styling for the eyes outlines */
/*right eye*/
.pixel:nth-child(259),
.pixel:nth-child(238),
.pixel:nth-child(217),
.pixel:nth-child(195),
.pixel:nth-child(172),
.pixel:nth-child(171),
.pixel:nth-child(192),
.pixel:nth-child(169),
.pixel:nth-child(168),
.pixel:nth-child(189),
.pixel:nth-child(211),
.pixel:nth-child(234),
.pixel:nth-child(257),
.pixel:nth-child(280),
/*left eye*/
.pixel:nth-child(271),
.pixel:nth-child(250),
.pixel:nth-child(208),
.pixel:nth-child(186),
.pixel:nth-child(163),
.pixel:nth-child(162),
.pixel:nth-child(183),
.pixel:nth-child(160),
.pixel:nth-child(159),
.pixel:nth-child(180),
.pixel:nth-child(202),
.pixel:nth-child(225),
.pixel:nth-child(248),
.pixel:nth-child(229){
    background: black;
}

/*Styling for eye colour*/
.pixel:nth-child(258),
.pixel:nth-child(236),
.pixel:nth-child(237),
.pixel:nth-child(235),
.pixel:nth-child(213),
.pixel:nth-child(215),
.pixel:nth-child(214),
.pixel:nth-child(216),
.pixel:nth-child(212),
.pixel:nth-child(190),
.pixel:nth-child(191),
.pixel:nth-child(193),
.pixel:nth-child(194),

.pixel:nth-child(249),
.pixel:nth-child(227),
.pixel:nth-child(228),
.pixel:nth-child(226),
.pixel:nth-child(204),
.pixel:nth-child(207),
.pixel:nth-child(205),
.pixel:nth-child(203),
.pixel:nth-child(181),
.pixel:nth-child(182),
.pixel:nth-child(184),
.pixel:nth-child(185),
.pixel:nth-child(206){
    background: brown
}

/*Styling for mouth outline*/
.pixel:nth-child(338),
.pixel:nth-child(316),
.pixel:nth-child(317),
.pixel:nth-child(318),
.pixel:nth-child(319),
.pixel:nth-child(320),
.pixel:nth-child(321),
.pixel:nth-child(322),
.pixel:nth-child(323),
.pixel:nth-child(361),
.pixel:nth-child(384),
.pixel:nth-child(385),
.pixel:nth-child(386),
.pixel:nth-child(387),
.pixel:nth-child(366),
.pixel:nth-child(345),
.pixel:nth-child(344),
.pixel:nth-child(343),
.pixel:nth-child(342),
.pixel:nth-child(341),
.pixel:nth-child(340),
.pixel:nth-child(339),
.pixel:nth-child(362),
.pixel:nth-child(363),
.pixel:nth-child(364),
.pixel:nth-child(365){
    background: black
}